* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {

    scroll-behavior: smooth;
}

body {
    font-family: "vazir";
    direction: rtl;
}

.container {
    width: 85%;
    margin: auto;

}

.box {
    background-color: $thirdry-color;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 1px 2px 6px black;
}

.box-1 {
    @extend .box;
    background-color: $secondry-color;

}

@media screen and (max-width: 480px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 87%;
    }
}