header {

    text-align: center;
    background-color: $primery-color;
    box-shadow: 0px 1px 20px 0px black;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    h2 {
        color: white;
        font-size: 30px;
        font-weight: 600;
        padding: 26px;
    }

    .progress {
        width: 100%;
        height: 20px;
        background-color: antiquewhite;

        .progress-bar {
            width: 0%;
            height: 20px;
            background-image: linear-gradient(to right, #a136d3 0%, #a70722 100%);

        }
    } 
    transition: transform 0.4s ease-out;
    -webkit-transition: transform 0.4s ease-out;
    -moz-transition : transform 0.4s ease-out;
    -ms-transition : transform 0.4s ease-out;
    -o-transition : transform 0.4s ease-out;  
    &.active{
       transform: translateY(-100%);
       -webkit-transform: translateY(-100%);
       -moz-transform: translateY(-100%);
       -ms-transform: translateY(-100%);
       -o-transform: translateY(-100%);
}
}