.toggleMenu{
  background-image: url('../images/menu3.png');
  background-color: rgb(245, 137, 218);
  border-bottom: 3px solid  blue; 
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 32px;
  right: 20px;
  color: rgb(255, 253, 253);
  z-index: 2;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
&.active{
    color: white;
    background-image: url('../images/close1.png');
    }
}
.fullPageMenu{
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    transition: top .5s ease;
    -webkit-transition: top .5s ease;
    -moz-transition: top .5s ease;
    -ms-transition: top .5s ease;
    -o-transition: top .5s ease;
           
 &.active{
         top: 0;
    }
    .banner{
        
        position: relative;
        min-width: 600px;
        height: 100%;  
        .overlay{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba($color: #000000, $alpha: 0.8);
            opacity: 0.5;
            img{
                width: 100%;
                height: 100%;
            }
        }
       
    }
    .menu{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
            position: relative;
            list-style: none;
            li{
                position: relative;
                padding:0 10px;
                overflow: hidden;
                margin: 5px 0;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    background-image: linear-gradient(to top, #a136d3 0%, #a70722 100%);
                    transform: scaleY(0);
                    -webkit-transform: scaleY(0);
                    -moz-transform: scaleY(0);
                    -ms-transform: scaleY(0);
                    -o-transform: scaleY(0);
                    transition: transform 0.3s ease-in-out;
                    -webkit-transition: transform 0.3s ease-in-out;
                    -moz-transition: transform 0.3s ease-in-out;
                    -ms-transition: transform 0.3s ease-in-out;
                    -o-transition: transform 0.3s ease-in-out;
                    transform-origin: bottom;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
}     

                a {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    top: 0;
                    text-decoration: none;
                    color: white;
                    display: block;
                    font-size: 2rem;
                    line-height: 5rem;
                    transition: transform 0.3s ease-in-out;
                    -webkit-transition: transform 0.3s ease-in-out;
                    -moz-transition: transform 0.3s ease-in-out;
                    -ms-transition: transform 0.3s ease-in-out;
                    -o-transition: transform 0.3s ease-in-out;
                    &::before{
                        content: attr(data-text);
                        position: absolute;
                        bottom: -100%;
                        right: 0;
                        height: 100%;
                        width: 100%;
                       
                    }
                }
                &:hover{
                    &::before {
                        transform: scaleY(1);
                        -webkit-transform: scaleY(1);
                        -moz-transform: scaleY(1);
                        -ms-transform: scaleY(1);
                        -o-transform: scaleY(1);
                        transform-origin: top;
                    }
                    & a{
                        transform: translateY(-100%);
                        -webkit-transform: translateY(-100%);
                        -moz-transform: translateY(-100%);
                        -ms-transform: translateY(-100%);
                        -o-transform: translateY(-100%);
                    }
                }
                                      
            }          
        }
    }
}
@media screen and (max-width: 768px) {
   .fullPageMenu{
       .banner{
           min-width: 100%;
         

       }
       .menu{
           position: absolute;
           z-index: 2;
           top: 0;
           height: 100%;
           right: 50%;
           transform: translateX(50%);
           -webkit-transform: translateX(50%);
           -moz-transform: translateX(50%);
           -ms-transform: translateX(50%);
           -o-transform: translateX(50%);
}
   }

}