.totop {
    display: flex;
    opacity: 0;
    text-decoration: none;
    width: 60px;
    height: 60px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: fixed;
    bottom: 0%;
    right: 15px;
    background-image: linear-gradient(to right, #a136d3 0%, #a70722 100%);
    align-items: center;
    justify-content: center;
    box-shadow: inset 5px 2px 10px 1px #00000085;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    // pointer-events: none;

    &.active {
        opacity: 1;
        bottom: 10px;
        // pointer-events: normal;
    }
}