*{
    margin:0;
    padding:0;
    outline: none;
    box-sizing: border-box;
    
}
body{
    font-family: "vazir" ;
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
   
}